@import "global";

.site-footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  background: var(--primary);
  border-top: 4px solid var(--border);
  color: var(--text);
  animation: footerFade 420ms $ease-smooth both;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .back-to-top {
    position: absolute;
    top: -60px;
    right: 20px;
    align-self: start;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    background: var(--primary);
    transition: color 0.3s $ease-smooth, background 0.3s $ease-smooth;
    border: 1px solid var(--border);
    border-radius: 50px;
    padding: 0rem 0.9rem;
    user-select: none;

    &:hover {
      color: var(--primary);
      background: white;
    }
  }

  .footer-bar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px dashed rgba(0, 0, 0, 0.03);
    color: white;
    font-size: 1.2rem;
    align-items: center;
  }

  @keyframes footerFade {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* responsive */
  @media (max-width: $mobile) {
    footer {
      padding: 0.5rem 0.5rem !important;
    }
    .footer-bar {
      flex-direction: column;
      text-align: center;
      padding: 0;
      .made {
        display: none;
      }
    }
  }
}
